<ion-view view-title='<img class="title-image" src="img/header-logo.png" />'>
  <ion-content scroll="false" class="text-center">
    <div class="vcard vcard_01">
        <a href ng-click="iraPedidos();">
        <div class="vcard_title">PEDIDOS</div>
        <div class="vcard_desc">DASH, GEX y Ruteador</div>
        <div class="vcard_link">Ingresar</div>
        </a>
    </div>
    <div class="vcard vcard_02">
        <a href ng-click="iralTarreo();">
            <div class="vcard_title">VENTA EN TERRENO</div>
            <div class="vcard_desc">Venta Tarreo</div>
            <div class="vcard_link">Ingresar</div>
        </a>
    </div>
    <div class="vcard vcard_03">
        <a href ng-click="canjearMedioPago();">
            <div class="vcard_title_twolines">VALIDACIÓN DE<br />MEDIOS DE PAGO</div>
            <div class="vcard_desc">Cupones, Promociones y Descuento Rut</div>
            <div class="vcard_link">Ingresar</div>
        </a>
    </div>
    <!--<br /><br />
  	<button class="button button-positive" ng-click="pedidos()">Pedidos</button>
    <br /><br />
    <button class="button button-positive" ng-click="ventaTarreo()">Venta tarreo</button>
    <br /><br />
    <button class="button button-positive" ng-click="canjeMP()">Canje M/P</button>
    <br /><br />
    <button class="button button-royal" ng-click="printerTest()">Test print 1</button>
    <br /><br />
    <button class="button button-royal" ng-click="printerTest2()">Test print 2</button>
    <br /><br />
    <button class="button button-assertive" ng-click="carnetTest()">Test lector</button>
    <br /><br />
    Nada mas-->
  </ion-content>
</ion-view>
