<ion-view view-title="Login" hide-nav-bar="true">
  <!-- do you want padding? -->
  <ion-content scroll="false">


      <br /><br /><div style="text-align: center;">
        <h2>VENTAS ENTRADAS</h2>
      <button class="button-icon button-transito button-clear" ng-click="$root.printval(3000)">$ 3.000</button>
      <br /><br />
      <button class="button-icon button-transito button-clear" ng-click="$root.printval(3500)">$ 3.500</button>
      <br /><br />
      <button class="button-icon button-transito button-clear" ng-click="$root.printval(5000)">$ 5.000</button>
      <br /><br />
      <button class="button-icon button-transito button-clear" ng-click="$root.printval(5500)">$ 5.500</button>
      <br><br>
      <button class="button-icon button-transito button-clear" ng-click="$root.printinforme()">INFORME</button>
      <br /><br /><br /><br />
      </div>

      <p class="welcome__instructions">{{abaTerrenoVersionGlo}}.{{abaTerrenoVersionVer}}.{{abaTerrenoVersionRev}} {{$root.abaTerrenoAmbiente}}</p>
      <br><br>

  </ion-content>
</ion-view>

