<ion-modal-view class="ver_comentario">
  <ion-header-bar>
    <h1 class="title">COMENTARIO</h1>
    <div class="buttons">
      <button class="button button-clear ion-ios-close-outline" ng-click="closeComentario()"> Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col-10">

      </div>
      <div class="col-80">
        <h4>
        <strong>Referencia dirección:</strong>
        <br />
        {{referenciaDireccion}}
        <br /><br />
        <strong>Observación:</strong>
        <br />
        {{observacion}}
      </div>
      <div class="col-10">

      </div>
    </div>
  </ion-content>
</ion-modal-view>
