<ion-view view-title="firstHola" class="versionError">
  <ion-content>
    <h1 class="animated fadeInUp">UPS!</h1>
    <h2 id="versionError_Nombre" style="display:none;">Tenemos un problema</h2>
    <h3 id="versionError_txt" style="display:none;">
    No estás usando la última versión de tu aplicación Repartidor Abastible
    <br /><br />
    </h3>

    <div id="versionError_botones" class="text-center" style="display:none;">
      <button class="button button-abastible" ng-click="DownloadVersion();">ACTUALIZA TU APP</button>
      <!--
      printConfig(); 
      <br /><br />
      <button class="button button-abastible-line" ng-click="skipConfig();">NO CONFIGURAR IMPRESORA</button>
      -->
    </div>

  </ion-content>
</ion-view>
